# Dictionaries

A dictionary is a python data structure that holds values in form of key value pair.
There is no indexing in dictionary.
Value can be accessed using a key that holds a value

In [1]:
# List
#  -3      -2       -1
['Asad', 'Ali', 'Python']
# 0       1        2

['Asad', 'Ali', 'Python']

In [2]:
dictionary_format = { "key2":"Value1",                      
                      "key1":"Value1",                       
                    }

In [3]:
empty_dict = {}

In [5]:
# adding a key value pair in dictionary
empty_dict['name']='Adil'

In [4]:
empty_dict['father']="Abdul Ali"

In [6]:
empty_dict

{'father': 'Abdul Ali', 'name': 'Adil'}

In [7]:
# update the value of a key
empty_dict['name']="Kashif Ali"
empty_dict

{'father': 'Abdul Ali', 'name': 'Kashif Ali'}

In [8]:
# Retrieve a value against a key
empty_dict['name']

'Kashif Ali'

In [9]:
empty_dict['father']

'Abdul Ali'

In [11]:
empty_dict['course']

KeyError: 'course'

In [14]:
empty_dict.get("course", "Key doesnt exist")

'Key doesnt exist'

In [13]:
empty_dict.get('name')

'Kashif Ali'

In [3]:
newDic = {"sep":"---", "end":"\t"}
print("Hello i am python","Good Work" ,**newDic)
print("ICAP", "DataAnalytics")

Hello i am python---Good Work	ICAP DataAnalytics

In [4]:
del newDic["sep"]

In [5]:
newDic

{'end': '\t'}

In [6]:
student_1 = {'name':"Ali", 'rollNo':1122, "Course":"Python", "Day":"Sunday"}

In [8]:
student_1

{'name': 'Ali', 'rollNo': 1122, 'Course': 'Python', 'Day': 'Sunday'}

In [10]:
# How to retrieve all keys 
# be dafualt when we loop over a dic it returns keys 
for k in student_1:
    print(k)

name
rollNo
Course
Day

In [11]:
for keys in student_1.keys():
    print(keys)

name
rollNo
Course
Day

In [13]:
# how to retirieve all values from a dic 
for value in student_1.values():
    print(value)

Ali
1122
Python
Sunday

In [14]:
# Another method to retrieve values (by using keys)
for key in student_1.keys():
    print(student_1[key])

Ali
1122
Python
Sunday

In [17]:
for key in student_1.keys():
    print(student_1[key])

Ali
1122
Python
Sunday

# Tuple

In [28]:
atuple = tuple([1,2,3,4])
btuple = (22,33,44,55)
ctuple = 12, 'nasir'

In [32]:
# packing and unPacking
a =  [1,2,3]
b= (22,33,44)

In [ ]:
x,y,z = a
q,w,e = b

In [29]:
type(ctuple)

tuple

In [19]:
type(atuple)

tuple

In [20]:
type(btuple)

tuple

In [21]:
atuple[0]

1

In [22]:
atuple[0]=100

TypeError: 'tuple' object does not support item assignment

In [25]:
country = "pakistan"
upper= country.upper()

In [26]:
country

'pakistan'

In [27]:
upper

'PAKISTAN'

In [30]:
for k in student_1.items():
    print(k)

('name', 'Ali')
('rollNo', 1122)
('Course', 'Python')
('Day', 'Sunday')

In [35]:
for key, value in student_1.items():
    print(f"The key is {key} and the value is {value}")

The key is name and the value is Ali
The key is rollNo and the value is 1122
The key is Course and the value is Python
The key is Day and the value is Sunday

# A list a in a dictionary

In [50]:
python_class = {"students":["Nasir", "Asad", 'Ahmed', 'Ali', 'Qasim']
               , "Courses":['Python', 'DA', 'DS', 'Python', 'DA']
               , "Day"    :["Sat", 'Sun',"Sat", 'Sun','Sun']
                
               }

In [45]:
python_class

{'students': ['Nasir', 'Asad', 'Ahmed', 'Ali', 'Qasim'],
 'Courses': ['Python', 'DA', 'DS', 'Python', 'DA'],
 'Day': ['Sat', 'Sun', 'Sat', 'Sun', 'Sun']}

In [46]:
import pandas

In [47]:
pandas.DataFrame(python_class)

  students Courses  Day
0    Nasir  Python  Sat
1     Asad      DA  Sun
2    Ahmed      DS  Sat
3      Ali  Python  Sun
4    Qasim      DA  Sun

In [49]:
python_class['students'][3]

'Ali'

In [56]:
python_class = 
{
    "students":["Nasir", "Asad", 'Ahmed', 'Ali', 'Qasim']
,   "Courses":['Python', 'DA', 'DS', 'Python', 'DA']
,   "Day"    :["Sat", 'Sun',"Sat", 'Sun','Sun']
,   "ExamMarks":[
                 {'test1':89, 'test2':87, 'test3':78},
                 {'test1':89, 'test2':87, 'test3':78},
                 {'test1':89, 'test2':87, 'test3':78},
                 {'test1':89, 'test2':87, 'test3':78},
                 {'test1':89, 'test2':87, 'test3':78}
                ]
}

In [54]:
python_class['ExamMarks']['test2']

87

In [57]:
pandas.DataFrame(python_class)

  students Courses  Day                                ExamMarks
0    Nasir  Python  Sat  {'test1': 89, 'test2': 87, 'test3': 78}
1     Asad      DA  Sun  {'test1': 89, 'test2': 87, 'test3': 78}
2    Ahmed      DS  Sat  {'test1': 89, 'test2': 87, 'test3': 78}
3      Ali  Python  Sun  {'test1': 89, 'test2': 87, 'test3': 78}
4    Qasim      DA  Sun  {'test1': 89, 'test2': 87, 'test3': 78}

# Set

In [58]:
a = {}
type(a)

dict

In [59]:
b= {4}
type(b)

set

In [61]:
a_set = set([2,3,4,5,6,5,56,6,4,3,4,5,6,])

In [62]:
a_set

{2, 3, 4, 5, 6, 56}