# Pandas
* DataFrame
    * Series
        * Cell/Value
        * Series DataTypes
            * Datetime
            * Object/String
        * Series has own Methods/attributes
    * DataFrame also has own methods and attributes

# Series

In [2]:
import pandas as pd

## create series with list

In [7]:
list1 = [1,3,2,6,9]
print(type(list1))
list1

<class 'list'>

[1, 3, 2, 6, 9]

In [6]:
list1 = [1,3,2,6,9]
s1 = pd.Series(list1)
print(type(s1))
s1

<class 'pandas.core.series.Series'>

0    1
1    3
2    2
3    6
4    9
dtype: int64

In [8]:
s1 = pd.Series([1,2,3,4,5,6])
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
#create list with tuple
s1 = pd.Series((1,2,3,4,5,6))
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

# Create Series with custome index values

In [11]:
s1 = pd.Series([1,2,3],['a','b','c'])
s1

a    1
b    2
c    3
dtype: int64

In [13]:
s1 = pd.Series({
    "a":1,
    "b":2,
    "c":3
})
s1

a    1
b    2
c    3
dtype: int64

In [27]:
#date format year-month-day
date_range = pd.date_range("2022-01-01","2022-01-31")
date_range

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [32]:
date_range.strftime("%d-%b-%Y")
#https://www.programiz.com/python-programming/datetime/strftime

Index(['01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '01-Jan-2022', '01-Jan-2022', '01-Jan-2022', '01-Jan-2022',
       '02-Jan-2022'],
      dtype='object')

In [26]:
date_range = pd.date_range("2022-01-01","2022-01-02", freq="2H")
date_range

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 02:00:00',
               '2022-01-01 04:00:00', '2022-01-01 06:00:00',
               '2022-01-01 08:00:00', '2022-01-01 10:00:00',
               '2022-01-01 12:00:00', '2022-01-01 14:00:00',
               '2022-01-01 16:00:00', '2022-01-01 18:00:00',
               '2022-01-01 20:00:00', '2022-01-01 22:00:00',
               '2022-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [31]:
date_range = pd.date_range("2022-01-01","2022-01-02", freq="30min")
date_range

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 00:30:00',
               '2022-01-01 01:00:00', '2022-01-01 01:30:00',
               '2022-01-01 02:00:00', '2022-01-01 02:30:00',
               '2022-01-01 03:00:00', '2022-01-01 03:30:00',
               '2022-01-01 04:00:00', '2022-01-01 04:30:00',
               '2022-01-01 05:00:00', '2022-01-01 05:30:00',
               '2022-01-01 06:00:00', '2022-01-01 06:30:00',
               '2022-01-01 07:00:00', '2022-01-01 07:30:00',
               '2022-01-01 08:00:00', '2022-01-01 08:30:00',
               '2022-01-01 09:00:00', '2022-01-01 09:30:00',
               '2022-01-01 10:00:00', '2022-01-01 10:30:00',
               '2022-01-01 11:00:00', '2022-01-01 11:30:00',
               '2022-01-01 12:00:00', '2022-01-01 12:30:00',
               '2022-01-01 13:00:00', '2022-01-01 13:30:00',
               '2022-01-01 14:00:00', '2022-01-01 14:30:00',
               '2022-01-01 15:00:00', '2022-01-01 15:30:00',
               '2022-01-01 16:00:00', '2022-01-01 16:30:00',
               '2022-01-01 17:00:00', '2022-01-01 17:30:00',
               '2022-01-01 18:00:00', '2022-01-01 18:30:00',
               '2022-01-01 19:00:00', '2022-01-01 19:30:00',
               '2022-01-01 20:00:00', '2022-01-01 20:30:00',
               '2022-01-01 21:00:00', '2022-01-01 21:30:00',
               '2022-01-01 22:00:00', '2022-01-01 22:30:00',
               '2022-01-01 23:00:00', '2022-01-01 23:30:00',
               '2022-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='30T')

# Important function for series

* map
* filter
* apply

In [46]:
# ASCII code 
# A=65- Z-90
# a=97 - z=122

abc_maping = {
 65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'
}


codes = pd.Series([81,65,83,73,77])
print(codes)

0    81
1    65
2    83
3    73
4    77
dtype: int64

In [48]:
codes = pd.Series([78,79,77,65,78])
codes.map(abc_maping)

0    N
1    O
2    M
3    A
4    N
dtype: object

abc_mp = {i:chr(i) for i in range(65,91)}
abc_mp

### Filter

In [54]:
s2 = pd.Series(list(range(1,101)))
s2

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: int64

In [56]:
import numpy as np
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['one', 'two', 'three'])
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [57]:
# select columns by name
df.filter(items=['one', 'three'])

        one  three
mouse     1      3
rabbit    4      6

In [64]:
# select columns by regular expression
df.filter(regex='o$', axis=1)

        two
mouse     2
rabbit    5

# Apply Method for series

In [67]:
# apply alternate of loop
percentages = pd.Series(np.random.randint(40,100,size=10))
percentages

0    67
1    57
2    98
3    84
4    61
5    89
6    71
7    60
8    51
9    91
dtype: int64

In [70]:
def fn_grading(x):
    if x>=80:
        return "A+"
    elif x>=70:
        return "A"
    elif x>=60:
        return "B"
    elif x>=50:
        return "C"
    elif x>=40:
        return "D"
    else:
        return "F"
    
print(percentages.apply(fn_grading))
print(percentages)

0     B
1     C
2    A+
3    A+
4     B
5    A+
6     A
7     B
8     C
9    A+
dtype: object
0    67
1    57
2    98
3    84
4    61
5    89
6    71
7    60
8    51
9    91
dtype: int64

In [ ]:
ser.unique()
ser.shape
ser.size
ser.astype('int')
ser.value_counts()
ser.to_list()
ser.isna()
ser.round(2)
ser.eq(3)

In [102]:
s1 = pd.DataFrame(np.random.randint(65,90,size=40),columns=["A"], dtype=np.int64)
s1 = s1.A.apply(chr)
s1

0     L
1     R
2     E
3     A
4     O
5     E
6     K
7     M
8     K
9     K
10    X
11    O
12    J
13    S
14    M
15    T
16    X
17    I
18    F
19    Q
20    D
21    B
22    O
23    B
24    M
25    T
26    K
27    D
28    D
29    B
30    C
31    O
32    I
33    G
34    H
35    L
36    D
37    P
38    B
39    K
Name: A, dtype: object

In [103]:
sorted(s1.unique()) # show unique value

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'X']

In [104]:
s1.value_counts()

K    5
B    4
D    4
O    4
M    3
L    2
I    2
T    2
X    2
E    2
J    1
S    1
R    1
F    1
Q    1
A    1
C    1
G    1
H    1
P    1
Name: A, dtype: int64

In [105]:
s2 = pd.Series(['khi','isb',np.nan,'lhr','khi', np.nan])
s2

0    khi
1    isb
2    NaN
3    lhr
4    khi
5    NaN
dtype: object

In [106]:
s2.value_counts()

khi    2
isb    1
lhr    1
dtype: int64

In [107]:
s2.value_counts(dropna=False)

khi    2
NaN    2
isb    1
lhr    1
dtype: int64

In [108]:
s2.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [109]:
s2.isnull().sum()

2

In [110]:
s1

0     L
1     R
2     E
3     A
4     O
5     E
6     K
7     M
8     K
9     K
10    X
11    O
12    J
13    S
14    M
15    T
16    X
17    I
18    F
19    Q
20    D
21    B
22    O
23    B
24    M
25    T
26    K
27    D
28    D
29    B
30    C
31    O
32    I
33    G
34    H
35    L
36    D
37    P
38    B
39    K
Name: A, dtype: object

In [111]:
s1.values

array(['L', 'R', 'E', 'A', 'O', 'E', 'K', 'M', 'K', 'K', 'X', 'O', 'J',
       'S', 'M', 'T', 'X', 'I', 'F', 'Q', 'D', 'B', 'O', 'B', 'M', 'T',
       'K', 'D', 'D', 'B', 'C', 'O', 'I', 'G', 'H', 'L', 'D', 'P', 'B',
       'K'], dtype=object)

In [112]:
s1.index

RangeIndex(start=0, stop=40, step=1)

In [113]:
#convert series into list
s1.to_list()

['L',
 'R',
 'E',
 'A',
 'O',
 'E',
 'K',
 'M',
 'K',
 'K',
 'X',
 'O',
 'J',
 'S',
 'M',
 'T',
 'X',
 'I',
 'F',
 'Q',
 'D',
 'B',
 'O',
 'B',
 'M',
 'T',
 'K',
 'D',
 'D',
 'B',
 'C',
 'O',
 'I',
 'G',
 'H',
 'L',
 'D',
 'P',
 'B',
 'K']

In [115]:
s1[2]

'E'

In [116]:
s1[-4:]

36    D
37    P
38    B
39    K
Name: A, dtype: object

In [117]:
s1.shape

(40,)

In [118]:
s1.size

40

In [119]:
s1.dtype

dtype('O')

In [122]:
a = pd.Series(np.random.random(10))
print(a)
a.round(2)

0    0.060283
1    0.812757
2    0.881443
3    0.853465
4    0.289647
5    0.049404
6    0.403892
7    0.842360
8    0.146397
9    0.686237
dtype: float64

0    0.06
1    0.81
2    0.88
3    0.85
4    0.29
5    0.05
6    0.40
7    0.84
8    0.15
9    0.69
dtype: float64

In [126]:
a = pd.Series(list(range(20)), dtype=np.float)
a

0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
dtype: float64

In [127]:
a.astype(np.int64)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

# DAtaFrame

#### create dataframe with json api

In [15]:
df1 = pd.read_json("https://api.github.com/users/hadley/orgs")
df1

,login,id,node_id,url,repos_url,events_url,hooks_url,issues_url,members_url,public_members_url,avatar_url,description
0,ggobi,423638,MDEyOk9yZ2FuaXphdGlvbjQyMzYzOA==,https://api.github.com/orgs/ggobi,https://api.github.com/orgs/ggobi/repos,https://api.github.com/orgs/ggobi/events,https://api.github.com/orgs/ggobi/hooks,https://api.github.com/orgs/ggobi/issues,https://api.github.com/orgs/ggobi/members{/mem...,https://api.github.com/orgs/ggobi/public_membe...,https://avatars.githubusercontent.com/u/423638...,
1,rstudio,513560,MDEyOk9yZ2FuaXphdGlvbjUxMzU2MA==,https://api.github.com/orgs/rstudio,https://api.github.com/orgs/rstudio/repos,https://api.github.com/orgs/rstudio/events,https://api.github.com/orgs/rstudio/hooks,https://api.github.com/orgs/rstudio/issues,https://api.github.com/orgs/rstudio/members{/m...,https://api.github.com/orgs/rstudio/public_mem...,https://avatars.githubusercontent.com/u/513560...,
2,rstats,722735,MDEyOk9yZ2FuaXphdGlvbjcyMjczNQ==,https://api.github.com/orgs/rstats,https://api.github.com/orgs/rstats/repos,https://api.github.com/orgs/rstats/events,https://api.github.com/orgs/rstats/hooks,https://api.github.com/orgs/rstats/issues,https://api.github.com/orgs/rstats/members{/me...,https://api.github.com/orgs/rstats/public_memb...,https://avatars.githubusercontent.com/u/722735...,None
3,ropensci,1200269,MDEyOk9yZ2FuaXphdGlvbjEyMDAyNjk=,https://api.github.com/orgs/ropensci,https://api.github.com/orgs/ropensci/repos,https://api.github.com/orgs/ropensci/events,https://api.github.com/orgs/ropensci/hooks,https://api.github.com/orgs/ropensci/issues,https://api.github.com/orgs/ropensci/members{/...,https://api.github.com/orgs/ropensci/public_me...,https://avatars.githubusercontent.com/u/120026...,
4,rjournal,3330561,MDEyOk9yZ2FuaXphdGlvbjMzMzA1NjE=,https://api.github.com/orgs/rjournal,https://api.github.com/orgs/rjournal/repos,https://api.github.com/orgs/rjournal/events,https://api.github.com/orgs/rjournal/hooks,https://api.github.com/orgs/rjournal/issues,https://api.github.com/orgs/rjournal/members{/...,https://api.github.com/orgs/rjournal/public_me...,https://avatars.githubusercontent.com/u/333056...,None
5,r-dbi,5695665,MDEyOk9yZ2FuaXphdGlvbjU2OTU2NjU=,https://api.github.com/orgs/r-dbi,https://api.github.com/orgs/r-dbi/repos,https://api.github.com/orgs/r-dbi/events,https://api.github.com/orgs/r-dbi/hooks,https://api.github.com/orgs/r-dbi/issues,https://api.github.com/orgs/r-dbi/members{/mem...,https://api.github.com/orgs/r-dbi/public_membe...,https://avatars.githubusercontent.com/u/569566...,R + databases
6,RConsortium,15366137,MDEyOk9yZ2FuaXphdGlvbjE1MzY2MTM3,https://api.github.com/orgs/RConsortium,https://api.github.com/orgs/RConsortium/repos,https://api.github.com/orgs/RConsortium/events,https://api.github.com/orgs/RConsortium/hooks,https://api.github.com/orgs/RConsortium/issues,https://api.github.com/orgs/RConsortium/member...,https://api.github.com/orgs/RConsortium/public...,https://avatars.githubusercontent.com/u/153661...,"The R Consortium, Inc was established to provi..."
7,tidyverse,22032646,MDEyOk9yZ2FuaXphdGlvbjIyMDMyNjQ2,https://api.github.com/orgs/tidyverse,https://api.github.com/orgs/tidyverse/repos,https://api.github.com/orgs/tidyverse/events,https://api.github.com/orgs/tidyverse/hooks,https://api.github.com/orgs/tidyverse/issues,https://api.github.com/orgs/tidyverse/members{...,https://api.github.com/orgs/tidyverse/public_m...,https://avatars.githubusercontent.com/u/220326...,The tidyverse is a collection of R packages th...
8,r-lib,22618716,MDEyOk9yZ2FuaXphdGlvbjIyNjE4NzE2,https://api.github.com/orgs/r-lib,https://api.github.com/orgs/r-lib/repos,https://api.github.com/orgs/r-lib/events,https://api.github.com/orgs/r-lib/hooks,https://api.github.com/orgs/r-lib/issues,https://api.github.com/orgs/r-lib/members{/mem...,https://api.github.com/orgs/r-lib/public_membe...,https://avatars.githubusercontent.com/u/226187...,
9,rstudio-education,34165516,MDEyOk9yZ2FuaXphdGlvbjM0MTY1NTE2,https://api.github.com/orgs/rstudio-education,https://api.github.com/orgs/rstudio-education/...,https://api.github.com/orgs/rstudio-education/...,https://api.github.com/orgs/rstudio-education/...,https://api.github.com/orgs/rstudio-education/...,https://api.github.com/orgs/rstudio-education/...,https://api.github.com/orgs/rstudio-education/...,https://avatars.githubusercontent.com/u/341655...,

# create dataframe from csv file

In [16]:
df2 = pd.read_csv("./data/cancerDataframe.csv")
df2

,Unnamed: 0,Rank,NCTId,BriefTitle,Condition,StudyType,EligibilityCriteria,EnrollmentCount,LocationCity,LocationCountry,...,MinimumAge,MaximumAge,OverallStatus,Phase,ResponsiblePartyInvestigatorFullName,ResponsiblePartyInvestigatorAffiliation,LeadSponsorName,InterventionName,StartDate,CentralContactName
0,0,1,NCT04875351,Breast Cancer Index (BCI) Registry,Breast Cancer,Observational,"Inclusion Criteria:\n\nEarly stage (I, II or I...",3000.0,Daphne,United States,...,18 Years,NaN,Recruiting,NaN,NaN,NaN,"Biotheranostics, Inc.",Breast Cancer Index (BCI) Risk of Recurrence &...,"April 14, 2021","Brandon N O'Neal, MS"
1,1,2,NCT03180086,Breast Cancer Risk Assessment in Women Aged 40-49,Breast Cancer,Interventional,Inclusion Criteria:\n\nwomen\naged 40-49 years...,338.0,Boston,United States,...,40 Years,49 Years,"Active, not recruiting",Not Applicable,Mara Schonberg,Beth Israel Deaconess Medical Center,Beth Israel Deaconess Medical Center,Breast cancer risk report,"July 1, 2017",NaN
2,2,3,NCT03662633,Diagnosis Value of SEMA4C in Breast Cancer,Breast Neoplasm Female,Observational,Inclusion Criteria:\n\nReceiving no treatment ...,2300.0,NaN,NaN,...,18 Years,80 Years,Not yet recruiting,NaN,Qinglei Gao,Tongji Hospital,Tongji Hospital,Breast cancer group,"September 1, 2022","Qinglei Gao, MD, PhD"
3,3,4,NCT02493569,A Multicenter Study of Clinical Epidemiology o...,Breast Cancer,Observational,Inclusion Criteria:\n\nFemale patients;\nThe h...,3000.0,NaN,NaN,...,NaN,NaN,Unknown status,NaN,NaN,NaN,First Affiliated Hospital Xi'an Jiaotong Unive...,The radical mastectomy of breast cancer,October 2016,"Yu Ren, MD,PhD"
4,4,5,NCT03598660,Role of Sorcin and Annexin A3 in Breast Cancer...,Breast Cancer,Observational,Inclusion Criteria:\n\nbreast cancer patients ...,80.0,NaN,NaN,...,20 Years,75 Years,Unknown status,NaN,Reham I El-mahdy,Assiut University,Assiut University,Sorcin gene expression,"January 20, 2019",reham elmahdy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,996,NCT00009945,Clodronate With or Without Chemotherapy and/or...,Breast Cancer,Interventional,Eligibility\n\nPatients must have undergone ei...,3323.0,Scottsdale,United States,...,18 Years,NaN,Completed,Phase 3,NaN,NaN,NSABP Foundation Inc,clodronate,January 2001,NaN
996,996,997,NCT00313248,Evaluation of a New Agent for Treatment of Adv...,Breast Neoplasm,Interventional,Inclusion Criteria:\n\nMetastatic breast cance...,65.0,Birmingham,United States,...,18 Years,NaN,Completed,Phase 2,NaN,NaN,Bayer,Sagopilone (ZK 219477),April 2006,NaN
997,997,998,NCT00196859,Study in Elderly Patients With Early Breast Ca...,Breast Cancer,Interventional,Inclusion Criteria:\n\nWritten informed consen...,1500.0,Mönchengladbach,Germany,...,65 Years,NaN,Completed,Phase 3,NaN,NaN,German Breast Group,"Ibandronate, Capecitabine",June 2004,NaN
998,998,999,NCT02591316,"Nutrition, Physical Activity, and Cognition in...",Breast Cancer,Observational,Inclusion Criteria:\n\nBreast cancer survivors...,68.0,San Marcos,United States,...,30 Years,70 Years,Completed,NaN,Krystle Zuniga,"Texas State University, San Marcos","Texas State University, San Marcos",no intervention,February 2015,NaN
999,999,1000,NCT01216124,Efficacy and Safety Study of Neoadjuvant Chemo...,Triple Negative Local Advanced Breast Cancer,Expanded Access,Inclusion Criteria:\n\nWomen aged from 18 to 6...,NaN,NaN,NaN,...,18 Years,65 Years,Available,NaN,NaN,NaN,Fudan University,docetaxel oxaliplatin,NaN,"Zhimin Shao, MD, PHD"

# Create DataFrame with Excel

In [17]:
#./ go farward from current path
#../Go backward from current path
df3 = pd.read_excel("./data/Inclusion Criteria_1.xlsx)                    
df3

,NCTId,BriefTitle,Karnofsky,Inclusion Criteria
0,NCT04875351,Breast Cancer Index (BCI) Registry,NaN,":\n\nEarly stage (I, II or III) female breast ..."
1,NCT03180086,Breast Cancer Risk Assessment in Women Aged 40-49,NaN,:\n\nwomen\naged 40-49 years\nread and speak E...
2,NCT03662633,Diagnosis Value of SEMA4C in Breast Cancer,NaN,:\n\nReceiving no treatment before diagnosis\n...
3,NCT02493569,A Multicenter Study of Clinical Epidemiology o...,NaN,:\n\nFemale patients;\nThe hospitalized patien...
4,NCT03598660,Role of Sorcin and Annexin A3 in Breast Cancer...,NaN,:\n\nbreast cancer patients before surgery who...
...,...,...,...,...
995,NCT00009945,Clodronate With or Without Chemotherapy and/or...,NaN,Eligibility\n\nPatients must have undergone ei...
996,NCT00313248,Evaluation of a New Agent for Treatment of Adv...,NaN,:\n\nMetastatic breast cancer (meaning the can...
997,NCT00196859,Study in Elderly Patients With Early Breast Ca...,NaN,:\n\nWritten informed consent prior to beginni...
998,NCT02591316,"Nutrition, Physical Activity, and Cognition in...",NaN,:\n\nBreast cancer survivors must have complet...
999,NCT01216124,Efficacy and Safety Study of Neoadjuvant Chemo...,NaN,:\n\nWomen aged from 18 to 65 years;\nHistolog...

In [23]:
df3 = pd.read_excel(r"./data/Inclusion Criteria_1.xlsx")                    
df3

,NCTId,BriefTitle,Karnofsky,Inclusion Criteria
0,NCT04875351,Breast Cancer Index (BCI) Registry,NaN,":\n\nEarly stage (I, II or III) female breast ..."
1,NCT03180086,Breast Cancer Risk Assessment in Women Aged 40-49,NaN,:\n\nwomen\naged 40-49 years\nread and speak E...
2,NCT03662633,Diagnosis Value of SEMA4C in Breast Cancer,NaN,:\n\nReceiving no treatment before diagnosis\n...
3,NCT02493569,A Multicenter Study of Clinical Epidemiology o...,NaN,:\n\nFemale patients;\nThe hospitalized patien...
4,NCT03598660,Role of Sorcin and Annexin A3 in Breast Cancer...,NaN,:\n\nbreast cancer patients before surgery who...
...,...,...,...,...
995,NCT00009945,Clodronate With or Without Chemotherapy and/or...,NaN,Eligibility\n\nPatients must have undergone ei...
996,NCT00313248,Evaluation of a New Agent for Treatment of Adv...,NaN,:\n\nMetastatic breast cancer (meaning the can...
997,NCT00196859,Study in Elderly Patients With Early Breast Ca...,NaN,:\n\nWritten informed consent prior to beginni...
998,NCT02591316,"Nutrition, Physical Activity, and Cognition in...",NaN,:\n\nBreast cancer survivors must have complet...
999,NCT01216124,Efficacy and Safety Study of Neoadjuvant Chemo...,NaN,:\n\nWomen aged from 18 to 65 years;\nHistolog...