# Operators

 - Binary Operator    two values
       + - * / // ** %
- Unary Operator       one value
    - ++ --

In [2]:
3 + 4

7

In [3]:
3 + 4.5

7.5

In [4]:
4.5 + 7.9

12.4

In [5]:
float(4)

4.0

In [7]:
int(4.9)

4

In [9]:
4 + 4
'hello' + 'world'

'helloworld'

In [8]:
(2) + "hello"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
str(2) + 'Hello'

'2Hello'

In [11]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
2 + int("2")

4

In [13]:
"2" * 5

'22222'

In [14]:
[1,2,3,4] + [5,6,7,9]

[1, 2, 3, 4, 5, 6, 7, 9]

In [15]:
2 *6

12

In [16]:
['nasir', 'qasim']*3

['nasir', 'qasim', 'nasir', 'qasim', 'nasir', 'qasim']

In [17]:
hello = 5

In [18]:
hello  = hello + 10

15

In [19]:
# by default python divison is floating
10/10

1.0

In [20]:
10//3

3

In [21]:
10.0//3

3.0

In [23]:
-10%3

2

In [24]:
12%-5

-3

In [25]:
3**2

9

In [26]:
2*3+5/5

7.0

In [28]:
2*3+5//5**2
# 6+5//25

6

In [36]:
a=1
b=5
c =1
x = (-b+((b**2-4*a*c)**.5))/2*a

In [37]:
x

-0.20871215252208009

In [38]:
d = (-b + ((b**2-(4*a*c))**.5)) / 2*a
d

-0.20871215252208009

# Unary Operator

In [39]:
-2

-2

In [40]:
age = 20

In [41]:
age  = age +1
age

21

In [61]:
age /=5
age

3750.0

# Python Assignment operators

In [62]:
x = 5
x

5

In [63]:
x = x + 2
x

7

In [64]:
x += 3

In [65]:
x

10

In [66]:
x -= 2
x

8

In [124]:
x *= 2
x

12

In [125]:
x =2

In [68]:
x /= 3
x

5.333333333333333

In [69]:
x //= 3
x

1.0

# Python Comparison Operators

In [70]:
2 == 2

True

In [71]:
2 != 2

False

In [72]:
2 > 2

False

In [73]:
5 > 2

True

In [74]:
2 > 10

False

In [76]:
5 >= 3

True

In [78]:
False and True and True

False

In [79]:
True and True and True

True

In [80]:
x, y, z = 2, 3, 4
print(x,y,z)

2 3 4

In [81]:
x >= 1 and y < 5 and z >2

True

In [83]:
user = input("Enter user name")
password = input("Enter your password")
print(user)
print(password)

user == 'admin' and password == 'admin'

Enter user nameadmin
Enter your passwordadmin
admin
admin

True

In [84]:
user = input("Enter user name")
password = input("Enter your password")
print(user)
print(password)

user == 'admin' and password == 'admin'

Enter user nameqasim
Enter your passwordadmin
qasim
admin

False

In [85]:
True or True or False or True or False

True

In [89]:
password = input("Enter your password")
user = input("Enter user name")

print(user)
print(password)

(user=='admin' or user=='03152968211' or user=='m.qasim077@gmail.com') and password=='admin'

Enter your passwordadmin
Enter user nameadmin
admin
admin

True

In [91]:


user = input("Enter user name")
password = input("Enter your password")

nuser == 'qasim' and password=='admin'

Enter user nameqasim
Enter your passwordadmin

False

In [93]:
not 'qasim' == 'qasim'

False

In [95]:
x = 'Nasir Hussain'
not x == 'qasim'

True

In [96]:
x = 5
y = 5
print(id(x), id(y))

94275993731968 94275993731968

In [97]:
x is y

True

In [98]:
x = 5
y = 5.0
print(id(x), id(y))

94275993731968 140159443751920

In [99]:
x is y

False

In [100]:
x == y

True

In [105]:
names = ['Noman','Naveed','Nasir','Raheel','Qasim']
x = input("Check in faculty names list")

for name in names:
    if x == name:
        print(True)
        break
    else:
        print("Not availabe")

Check in faculty names listNoman
True

In [106]:
names = ['Noman','Naveed','Nasir','Raheel','Qasim']
x = input("Check in faculty names list")

x in names

Check in faculty names listNasir

True

In [107]:
names = ['Noman','Naveed','Nasir','Raheel','Qasim']
x = input("Check in faculty names list")

x not in names

Check in faculty names listAsif

True

# if else elif

In [109]:
if True:
    print("Pakistan")
    print("Pakistan2")
else:
    print("USA")

Pakistan
Pakistan2

In [110]:
if False:
    print("Pakistan")
    print("Pakistan2")
else:
    print("USA")

USA

In [112]:
user = input("Enter user name")
password = input("Enter your password")

if user == 'qasim' and password=='admin':
    print("Valid User")
else:
    print("Not valid user")

Enter user nameqasim
Enter your passwordadmin
Valid User

In [115]:
x = 75

if x >= 80:
    print("A+")
elif x >= 70:
    print("A")
elif x>=60:
    print("B")
elif x>=50:
    print("C")
else:
    print('Fails')

A

In [116]:
x = 1

while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [117]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [118]:
for name in names:
    print("Hello Mr,", name)

Hello Mr, Noman
Hello Mr, Naveed
Hello Mr, Nasir
Hello Mr, Raheel
Hello Mr, Qasim

In [119]:
names

['Noman', 'Naveed', 'Nasir', 'Raheel', 'Qasim']

In [122]:
names[0]

'Noman'

In [123]:
i = 0
while i < len(names):
    print(names[i])
    i += 1

Noman
Naveed
Nasir
Raheel
Qasim

In [132]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter another number"))

if num1 >= num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num1} is less than {num2}")

Enter a number8
Enter another number8
8 is greater than 8

In [127]:
type(num1)

str

In [130]:
"a" > "b"

False

In [141]:
num1 = int(float(input("Enter a number")))

if num1%2==0:
    print(f"{num1} is even")
else:
    print(f"{num1} is odd")

Enter a number78.5
78 is even

In [135]:
num = int(input("Enter a number"))
type(num)

Enter a number45

int

In [137]:
int("45.7")

ValueError: invalid literal for int() with base 10: '45.7'

In [143]:
name  = input("Please tell me your good name sir!")
if len(name)>10:
    print("You have a lengthy name")
else:
    print("Your name is short")

Please tell me your good name sir!Qasim
Your name is short

In [145]:
name  = input("Please tell me your good name sir!")
char = input("Please tell me the char to count")

print(f"The character {char} is {name.count(char)} times in {name}")

Please tell me your good name sir!Nasir Hussain
Please tell me the char to counta
The character a is 2 times in Nasir Hussain