# Print

In [8]:
print("Hello")

Hello

In [6]:
print("Hello World")

Hello World

# print("Hello")

# Interpreter
  - Executes code line by line and stops as error is found.

In [9]:
# interpereter
print("1")
print("2")
print(a)
print("3")
print("4")

1
2

NameError: name 'a' is not defined

# Long String

In [7]:
print("Pakistan zinda bad!")

Pakistan zinda bad!

# Print can take many values togehter

In [14]:
print("1","2",7,8.0,True, "Hello",False, sep="===")
print("1","2",7,8.0,True, "Hello",False)

1===2===7===8.0===True===Hello===False
1 2 7 8.0 True Hello False

# String concatnates while integer is added

In [13]:
print("1"+"1")
print(1+1)

11
2

# Python is case Sensitive

In [66]:
Print("hello")

NameError: name 'Print' is not defined

# Print can take no argument

In [67]:
print(n)

In [20]:
print("Hello","world","icap")
print("Hello","world","icap")
print("Hello","world","icap", end="")
print("Hello","world","icap")
print("Hello","world","icap")
print("Hello","world","icap")

Hello world icap
Hello world icap
Hello world icapHello world icap
Hello world icap
Hello world icap

In [23]:
print("WE are learning \npython ")

WE are learning
python

In [25]:
print('pakistan zindabad')
print("pakistan zindabad")
print('''pakistan zindabad''')
print("""pakistan zindabad""")

pakistan zindabad
pakistan zindabad
pakistan zindabad
pakistan zindabad

In [26]:
print(" "pakistan" zindabad")

SyntaxError: invalid syntax (<ipython-input-26-557c18956dba>, line 1)

In [27]:
print(' "pakistan" zindabad')

 "pakistan" zindabad

In [28]:
print(" \"pakistan\" zindabad")
print(' \'pakistan\' zindabad')

 "pakistan" zindabad
 'pakistan' zindabad

# Variables

In [37]:
b = 25
print(a)
print(b)
print(id(a))
print(id(b))

25
25
94813514843648
94813514843648

In [44]:
age = 500

In [42]:
my_age = age
print(age, my_age)
print(id(age), id(my_age))

200 200
94813514849248 94813514849248

In [45]:
qasim_bhai_ki_age = 200
print(id(age),id(my_age), id(qasim_bhai_ki_age))

139803317739024 94813514849248 94813514849248

In [31]:
#name operator   value
student     =      "Muhammad Qasim"

In [32]:
print(student)
print(id(student))
print(type(student))

Muhammad Qasim
139803683430448
<class 'str'>

In [33]:
#name operator   value
age     =      45

print(age)
print(id(age))
print(type(age))

45
94813514844288
<class 'int'>

In [34]:
name

'Muhammad Qasim'

#Other language syntax for assigning variable
string name = "Qasim"

In [46]:
a = 20
print(type(a))

a = 20.0
print(type(a))

a = "Pak"
print(type(a))

a = ['qasim','nasir']
print(type(a))

a = ('qasim','nasir')
print(type(a))

a = {"id":1,
    "name":'qasim'}
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

# Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).<br>

Rules for Python variables:<br>

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [47]:
qasimBhaiKiAge = 10
QasimBhaiKiAge = 10
qasimbhaikiage = 10
qasim_bhai_ki_age = 10
1name = 'a'

SyntaxError: invalid syntax (<ipython-input-47-659205df8ed8>, line 5)

In [48]:
_1name = 'a'

In [50]:
card = """
name: Muhammad Qasim
Father's Name: Muhammad Aslam
Course: Data Analytics
Timing: 10 am to 1pm
"""

print(card)

name: Muhammad Qasim
Father's Name: Muhammad Aslam
Course: Data Analytics
Timing: 10 am to 1pm

In [51]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
course = "Data Analytics"
timing = "10 am to 1pm"

card = """
name: {}
Father's Name: {}
Course: {}
Timing: {}
""".format(name, fname, course, timing)

print(card)

name: Muhammad Qasim
Father's Name: Muhammad Aslam
Course: Data Analytics
Timing: 10 am to 1pm

In [59]:
name = "Nasir Hussain"
father_name = "Abdul Latif"
course = "Data Analytics"
timing = "10 am to 1pm"

card = """
name: {}
Father's Name: {}
Course: {}
Timing: {}
""".format(name, father_name, course, timing)

print(card)

name: Nasir Hussain
Father's Name: Abdul Latif
Course: Data Analytics
Timing: 10 am to 1pm

In [65]:
name = "Nasir Hussain"
father_name = "Abdul Latif"
course = "Data Analytics"
timing = "10 am to 1pm"

card = f"""
name: {name}
Father's Name: {father_name}
Course: {course}
Timing: {timing}
"""
print(card)

name: Nasir Hussain
Father's Name: Abdul Latif
Course: Data Analytics
Timing: 10 am to 1pm

In [64]:
name = "Nasir Hussain"
father_name = "Abdul Latif"
course = "Data Analytics"
timing = "10 am to 1pm"

card = f"""
name: {name}
Father's Name: {father_name}
Course: {course}
Timing: {timing}
"""
card

"\nname: Nasir Hussain\nFather's Name: Abdul Latif\nCourse: Data Analytics\nTiming: 10 am to 1pm\n"

In [60]:
full_name = "Muhammad {}".format("Qasim")
full_name

'Muhammad Qasim'

In [61]:
name = "قاسم"
print(name)

قاسم

In [62]:
"{} abc {}".format('Muhammad',"khan")

'Muhammad abc khan'

In [63]:
a ="Muhammad"
b = "khan"
"{} abc {}".format(a,b)

'Muhammad abc khan'