In [1]:
a = "pakistan"
type(a)

str

fucntion 
    1. function decliration
    2. function body
    3. function calling

In [ ]:
def fn_my_first_function(x,y):           # function dec
    print("line2",x)                     #function body with indended
    print("Line",y)                       # function
    
fn_my_first_function()                  #function calling

In [2]:
def abc(x,y,z,f):
    print("a")
    print("b")
    print("c")
    print(x,y,z,f)
    
    
abc(1,2,3,5)

a
b
c
1 2 3 5

In [3]:
def chai_banana(dodh, chini, patti):
    print("Boil ", dodh)
    print("Patti",patti)
    print("Chini", chini)
    
chai_banana("milk","suger","teapak")

chai_banana("milk","suger","teapak")

Boil  milk
Patti teapak
Chini suger
Boil  milk
Patti teapak
Chini suger

In [5]:
def biryani_banana(ghost,rice,masaly, tamato,oil):
    print(ghost, "Wash")
    print(rice, "clean")
    print(rice, "Boil")
    print(oil,"drop on pain")
    print(ghost,"Bhonna")
    print(masaly,tamato, "mix")
    print("take boil rice fold with",masaly,tamato)
    
biryani_banana("Chicken","Banaspati","Shaan","500 Gm","1KG")

Chicken Wash
Banaspati clean
Banaspati Boil
1KG drop on pain
Chicken Bhonna
Shaan 500 Gm mix
take boil rice fold with Shaan 500 Gm

In [6]:
biryani_banana("maton","Banaspati","Shaan","500 Gm","1KG")

maton Wash
Banaspati clean
Banaspati Boil
1KG drop on pain
maton Bhonna
Shaan 500 Gm mix
take boil rice fold with Shaan 500 Gm

In [8]:
def biryani_banana(ghost,rice,masaly, tamato,oil, patato=None):
    print(ghost, "Wash")
    print(rice, "clean")
    print(rice, "Boil")
    print(oil,"drop on pain")
    print(ghost,"Bhonna")
    if patato:
        print(masaly,tamato,patato,"mix")
    else:
        print(masaly,tamato, "mix")
    print("take boil rice fold with",masaly,tamato)
    
biryani_banana("Chicken","Banaspati","Shaan","tamato","oil")

Chicken Wash
Banaspati clean
Banaspati Boil
oil drop on pain
Chicken Bhonna
Shaan tamato mix
take boil rice fold with Shaan tamato

In [9]:
biryani_banana("Chicken","Banaspati","Shaan","tamato","oil","Patato")

Chicken Wash
Banaspati clean
Banaspati Boil
oil drop on pain
Chicken Bhonna
Shaan tamato Patato mix
take boil rice fold with Shaan tamato

In [10]:
def shadhi(larka, larki, molvi,gawah,contract, parents="Yes",khany="Biryani"):
    print(larka, larki, molvi,"4 ", gawah, "Sign on ", contract)
    print("Celebrate with your Parents",parents)
    print("Enjoy you Kahana", khany)
    
shadhi("Kashif","Samina","Noman Bhai","Qasim","Shadhi Mubarkh",khany="Tikka,Biryani")

Kashif Samina Noman Bhai 4  Qasim Sign on  Shadhi Mubarkh
Celebrate with your Parents Yes
Enjoy you Kahana Tikka,Biryani

'2MB'

In [11]:
shadhi("Kashif","Samina","Noman Bhai","Qasim","Shadhi Mubarkh",khany="Tikka,Biryani")

Kashif Samina Noman Bhai 4  Qasim Sign on  Shadhi Mubarkh
Celebrate with your Parents Yes
Enjoy you Kahana Tikka,Biryani

In [ ]:
Task
login system with username or cnic and password
Valid user or invalid user

In [15]:
users = ["qasim",'nasir','noman']
paswords = ['123','321','213']

def login(user,pas):
    if user in users and pas in paswords:
        print("Valid user")
    else:
        print("not Valid user")
        
login('nasir','123')        
login('noman','123')
login('qasim','123')

Valid user
Valid user
Valid user

# Lambda function

In [21]:
# normal function syntax
def abc(a,b):
    return a + b


abc = lambda a,b : a + b
abc(1,5)
abc(7,9)

16

In [23]:
x = {1: 2, 
     3: 4, 
     4: 3, 
     2: 1, 
     0: 0}

{k: v for k, v in sorted(x.items(), key=lambda item: item[0])}

{0: 0, 1: 2, 2: 1, 3: 4, 4: 3}

# OOP

In [31]:
class Student():                # Class
    
    name = "Qasim"                   # class variable
    father_name = "Aslam"           # class variable
    course = "DA"                # class variable 
    fee = "1"                   
    registration_no = "123456"
    
    def fn_login():                #method
        print("login")
    
    def fn_access_book():         #method
        print("access book")
    
    def fn_registration():         #method
        print("Registration")

In [32]:
student1 = Student()
student2 = Student()
student3 = Student()

print(type(student1))

<class '__main__.Student'>

In [33]:
print(student1.name)
print(student3.name)
print(student3.name)

Qasim
Qasim
Qasim

In [ ]:
student1.

In [30]:
a = "Pakistan"
print(type(a))

<class 'str'>

In [36]:
class Teacher():                # Class
    
    def __init__(self,tid,name,qualification):
        self.tid = tid                           # attributes
        self.name = name                           # attributes
        self.qualification  = qualification                         # attributes
        
    def fn_login():                #method
        print("login")
    
    def fn_upload_book():         #method
        print("access book")
    
    def fn_assign_assignment():         #method
        print("Registration")
        
        
teacher1  = Teacher(1,'Qasim',"MSDS")       
teacher2  = Teacher(2,'Kashif',"MCS")       
teacher3  = Teacher(3,'Noman',"MSDS")

In [37]:
print(teacher1.name)
print(teacher2.name)
print(teacher3.name)

Qasim
Kashif
Noman