# Last Class:
    -print()
    - String 
    - String Concatanation
    - String formation

Today Class:
    - Operators
        - Arithmetic Operator (+ - * /   // )
        - Unsual Operators  (%  ** )
        - Comparision Operators
        - Logical Operators
        - Increment Decrement Operators
    -Variables 
       - Naming Conventions
       - Legal and Illegal variable name
     -String functions
     -Type caste
     -User input

# Operators
       - Binary requires two operands

In [2]:
12+4
#addition

16

In [3]:
12-4 
#subtraction

8

In [5]:
12*4
# Multiply

48

In [6]:
12 / 5  # returns quoatient

# Floating division

2.4

In [7]:
12 // 5
# integer division

2

In [9]:
# modulus (Modulo)  % Remainder
19%5

4

In [10]:
3**2

9

# Comaparision Operators:

In [11]:
12 > 10   # results always a boolean (True /False)

# greater than

True

In [12]:
12 < 10

#Less than

False

In [13]:
12 == 10

# equal to

False

In [14]:
12 != 12
# not equal to

False

In [15]:
12 >= 20
# greater than equal to

False

In [16]:
34<=50

# less than and equal to

True

# Solving Mathematical Expressions and Eliminatiing Ambiguity

Operator Precedence
   unary 
 - BODMAS (Bracket, of, Division, Multiplication, addition, subtraction)
 
 - exponent ** top

In [20]:
-2*5+6*(5+7)**2
#   -10+6*(12)**2
#     -10+6*(144)
#     -10+864
#        +854

854

In [17]:
-2

-2

In [18]:
-(4)

-4

In [21]:
(3*4)**2*5

720

# Converting mathetical expression into python code

3.0

In [27]:
a = 3
b=12
c= 5

#x = (-b+(b**2-4*a*c)**0.5)/2*a

x = (-b + (b**2 - 4*a*c)**.5)/(2*a)

In [28]:
x

-0.4724747683480534

In [25]:
8/8

1.0

In [26]:
8/2*4

16.0

In [29]:
x = a**2 + 2*a*b + b**2
x

225

# Variables

In [30]:
# container that holds value
student = "Muhammad Ali"
# The string value Muhammad Ali is assigned to a variable student  
age  = 50


# int age;
#   age = 50

# int age = 50

In [35]:
age  = "fifty"

In [32]:
print(type(student))

<class 'str'>

In [36]:
print(type(age))

<class 'str'>

In [37]:
age

'fifty'

In [38]:
student

'Muhammad Ali'

In [39]:
"Pakistan"

'Pakistan'

In [40]:
Pakistan

NameError: name 'Pakistan' is not defined

In [41]:
student

'Muhammad Ali'

In [42]:
"student"

'student'

In [43]:
Student

NameError: name 'Student' is not defined

In [44]:
studnet

NameError: name 'studnet' is not defined

In [45]:
id(student)

1878931386800

# Copying a value

In [52]:
age = 25

In [65]:
qasimAge = age
# pass by reference

In [60]:
nasirAge = 26

In [61]:
id(nasirAge)

140716885583024

In [54]:
qasimAge

25

In [55]:
age

25

In [56]:
id(qasimAge)

140716885582992

In [57]:
id(age)

140716885582992

In [66]:
total  = 100       # integer
percentage  = 95.5   # float
name = "Hassan"      # string
FeePaid = False      # Bool

In [67]:
a = 98.9

In [68]:
Fee Paid  = False 
# Space not allowed in variable name

SyntaxError: invalid syntax (<ipython-input-68-656e4cfa9112>, line 1)

In [69]:
1stStudent =  "Nasir"

# variable name can not be begun with a number

SyntaxError: invalid syntax (<ipython-input-69-909849edcf2b>, line 1)

In [70]:
pak@ = "Pakistan"

# !@#$%^&* are not allowed anywhere in variable name

SyntaxError: invalid syntax (<ipython-input-70-a0fad332d4e5>, line 1)

In [71]:
True = "Fees Paid"

# Reserved words can not be used as a variable name 

# False	def	if	raise
# None	del	import	return
# True	elif	in	try
# and	else	is	while
# as	except	lambda	with
# assert	finally	nonlocal	yield
# break	for	not	
# class	from	or	
# continue	global	pass

SyntaxError: invalid syntax (<ipython-input-71-ad3ed39c3826>, line 5)

# Convention

In [72]:
name= "nasir"

In [73]:
obtained_marks = 78

In [74]:
englishObtainedMarks = 96

In [75]:
EnglishObtainedMarks = 89

# Type Casting

In [76]:
totalProfit = 4500

In [78]:
print(type(totalProfit))

# total profit is an object of class(type) integer

<class 'int'>

In [79]:
print(type("Pakistan"))

<class 'str'>

# String

In [80]:
country = "Pakistan"

In [85]:
country = country.upper()
country

'PAKISTAN'

In [84]:
country.count('A')

2

In [86]:
country.count("TAN")

1

In [87]:
country.endswith("Q")

False

In [90]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

-  String is immutable
-  String is iterable
-  String can be sliced

In [91]:
institute = "Institute of Chartered Accounts of Pakistan"
 # index     012345678910

In [92]:
institute[0]

'I'

In [93]:
institute[23]

'A'

In [94]:
institute[100]

IndexError: string index out of range

In [95]:
#String Slicing
institute[6:16]  # 6 to 15

'ute of Cha'

In [96]:
institute[3]="p"

TypeError: 'str' object does not support item assignment

In [102]:
num  = 45
print(type(num))

<class 'int'>

In [103]:
# type caste an int into a float
num = float(num)
print(type(num))

<class 'float'>

In [107]:

# integer to float type caste

percentage = 90
print(type(percentage))
numFloat = float(percentage)
print(type(numFloat))
numFloat

<class 'int'>
<class 'float'>

90.0

In [108]:
# int to string type caste

string_pecentage = str(percentage)
print(type(string_pecentage))
string_pecentage

<class 'str'>

'90'

In [109]:
#Float to string type caste 
height = 5.9
string_height = str(height)
print(type(string_height))

<class 'str'>

In [110]:
# string to intger
weight = "50"
int(weight)

50

In [111]:
weight = "Fifty Kg"
int(weight)

ValueError: invalid literal for int() with base 10: 'Fifty Kg'

In [113]:
age = input("Please tell me your age")
print(type(age))

age  = int(age)
print(type(age))

Please tell me your age45
<class 'str'>
<class 'int'>

In [114]:
age2 = int(input("Please tell me your age"))
print(type(age2))

Please tell me your age8
<class 'int'>

In [117]:
age2 = float(input("Please tell me your age"))
print(type(age2))

Please tell me your age8.9
<class 'float'>

In [116]:

int('7.5')

ValueError: invalid literal for int() with base 10: '7.5'

Data type : 
 int , float , str , bool 
 
 
 we can convert int >>> float
                 float >>> int 
                 string >>> int 
                 string >>>float

In [122]:
a = 10 
print(a)
print(float(a))

10
10.0

In [123]:
b = 10.7
print(b)
print(int(b))

10.7
10

In [118]:
int(7.9)

7

In [119]:
int(False)

0

In [120]:
int(True)

1