# Topic
* While
    * counter
    * condition
    * increment/decrement
* function
    * defualt
    * return function
    * non-return function
    * parameter/argument 
    * defualt parameter
    * pass argment by sequance
    * pass argument by key value pair
    * pass by list
    * pass by dictionary

In [ ]:
#  * While
#     * counter
#     * condition
#     * increment/decrement

# How to write while loop code
# counter

# while logic:
#     steps/statment
#     counter increment/decrement

In [2]:
name = 'a'
name = 'b'
name = 'c'
name = 'z'
print(name)

z

In [1]:
counter = 0

while counter <= 10:
    print(f"Step no {counter}")
    counter = counter + 1

Step no 0
Step no 1
Step no 2
Step no 3
Step no 4
Step no 5
Step no 6
Step no 7
Step no 8
Step no 9
Step no 10

In [4]:
flag = True

l = []

while flag:
    if len(l)<=10:
        l.append("A")
    else:
        flag =False
        
l

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

In [5]:
flag = True

l = []

while flag:
    if len(l)<=3:
        l.append(input("Name"))
    else:
        flag =False
        
l

NameQasim
NameNoman
NameNasir
NameNaveed

['Qasim', 'Noman', 'Nasir', 'Naveed']

In [10]:
flag = True

names = []

while flag:
    name = input("Enter Name | 'enter q for exit' ")
    if name.lower() == 'q':
        flag = False
        break
    names.append(name)
        
names

Enter Name | 'enter q for exit' qasim
aaaaa
aaaaa
aaaaa
Enter Name | 'enter q for exit' asib
aaaaa
aaaaa
aaaaa
Enter Name | 'enter q for exit' q
aaaaa
aaaaa
aaaaa

['qasim', 'asib', 'q']

In [8]:
if True:
    print("Pakistan")

Pakistan

In [9]:
if True:
    print("True Block")
else:
    print("Else Block")

True Block

In [ ]:
# Task1

enter your: qasim,123
enter your: nasir,125

[['qasim','123'],
['nasir','abc123'],
['noman','abc']]

In [13]:
flag = True

database = []

while flag:
    name = input("Enter username, password | 'enter q for exit' ")
    if name.lower() == 'q':
        flag = False
        break
    database.append(name.split(","))
        
database

Enter username, password | 'enter q for exit' qasim,123
Enter username, password | 'enter q for exit' asif,aaa
Enter username, password | 'enter q for exit' noman,2222
Enter username, password | 'enter q for exit' q

[['qasim', '123'], ['asif', 'aaa'], ['noman', '2222']]

In [12]:
flag = True

database = []

while flag:
    name = input("Enter username, password | 'enter q for exit' ")
    if name.lower() == 'q':
        flag = False
        break
    database.append(name.split(","))
        
database

['qasim', '123']

In [ ]:
Task 2
step1: [name,father,cnic,passord] until insert q

enter 4 records

Login
[cnic,password] Valid else not valid

In [14]:
flag = True

database = []

while flag:
    name = input("Enter name,father name, cnic, passwor | 'enter q for exit' ")
    if name.lower() == 'q':
        flag = False
        break
    database.append(name.split(","))
        
database

Enter name,father name, cnic, passwor | 'enter q for exit' qasim,aslam,4220175787603,123
Enter name,father name, cnic, passwor | 'enter q for exit' nasir,hussain,1234567891234,abc123
Enter name,father name, cnic, passwor | 'enter q for exit' noman,Farooq, 1234569871236,abcabc
Enter name,father name, cnic, passwor | 'enter q for exit' q

[['qasim', 'aslam', '4220175787603', '123'],
 ['nasir', 'hussain', '1234567891234', 'abc123'],
 ['noman', 'Farooq', ' 1234569871236', 'abcabc']]

In [23]:
# cnic = input("cnic")
# password = input('Password')

cnic , password   = input("cnic"), input('password')

for record in database:
    print(record[2],record[3])# just for our understanding
    if cnic == record[2] and password ==record[3]:
        print("Valid User")
        break
else:
    print("Not Valid Name and password")

cnic4220175787603
password123
4220175787603 123
Valid User

In [16]:
# pack and unpack
numbers = [1,2,3] # pack
a,b,c = numbers # unpack


print(numbers)
print(a)
print(b)
print(c)

[1, 2, 3]
1
2
3

In [18]:
a,b,c,d,e = 1,2,3,4,5
print(a,b,c,d,e)

1 2 3 4 5

In [17]:
abc = 1,2,3,4,5,6
abc

(1, 2, 3, 4, 5, 6)

In [24]:
# Nested1

In [ ]:
#list with in a list is called nested list
[['qasim', 'aslam', '4220175787603', '123'],
 ['nasir', 'hussain', '1234567891234', 'abc123'],
 ['noman', 'Farooq', ' 1234569871236', 'abcabc']]

In [ ]:
[{"name":'qasim', 'fname':'aslam', "cnic":'4220175787603', "pass":'123'},
 {"name":'qasim', 'fname':'aslam', "cnic":'4220175787603', "pass":'123'},
 {"name":'qasim', 'fname':'aslam', "cnic":'4220175787603', "pass":'123'}]

In [ ]:
[
    [[1],[2]],
    [[2],[4]]
]

In [26]:
student1 = {
    "name":"Qasim",
    "fname":"Aslam",
    "skills":['python','c','c++','java','rust'],
    "transactions":[{"id":1,"amount":100},
                   {"id":2,"amount": 500}]
}
student1

{'name': 'Qasim',
 'fname': 'Aslam',
 'skills': ['python', 'c', 'c++', 'java', 'rust'],
 'transactions': [{'id': 1, 'amount': 100}, {'id': 2, 'amount': 500}]}

In [28]:
student1 = {
    "name":"Qasim",
    "fname":"Aslam",
    "skills":['python','c','c++','java','rust'],
    "transactions":[{"id":1,"amount":100},
                   {"id":2,"amount": 500}]
}
print(student1)
student1['name']

{'name': 'Qasim', 'fname': 'Aslam', 'skills': ['python', 'c', 'c++', 'java', 'rust'], 'transactions': [{'id': 1, 'amount': 100}, {'id': 2, 'amount': 500}]}

'Qasim'

In [29]:
student1 = {
    "name":"Qasim",
    "fname":"Aslam",
    "skills":['python','c','c++','java','rust'],
    "transactions":[{"id":1,"amount":100},
                   {"id":2,"amount": 500}]
}
print(student1)
student1['skills']

{'name': 'Qasim', 'fname': 'Aslam', 'skills': ['python', 'c', 'c++', 'java', 'rust'], 'transactions': [{'id': 1, 'amount': 100}, {'id': 2, 'amount': 500}]}

['python', 'c', 'c++', 'java', 'rust']

In [30]:
student1 = {
    "name":"Qasim",
    "fname":"Aslam",
    "skills":['python','c','c++','java','rust'],
    "transactions":[{"id":1,"amount":100},
                   {"id":2,"amount": 500}]
}
print(student1)
student1['transactions']

{'name': 'Qasim', 'fname': 'Aslam', 'skills': ['python', 'c', 'c++', 'java', 'rust'], 'transactions': [{'id': 1, 'amount': 100}, {'id': 2, 'amount': 500}]}

[{'id': 1, 'amount': 100}, {'id': 2, 'amount': 500}]

In [33]:
print(student1['transactions']) #pass dictionary key
print(student1['transactions'][1]) # pass list index
print(student1['transactions'][1]['amount'])#pass nested dictionary key

[{'id': 1, 'amount': 100}, {'id': 2, 'amount': 500}]
{'id': 2, 'amount': 500}
500