# Today:
    -if else
    -List and list functions
    -List Slicing

In [1]:
# print()  >>> function
# statement   a = 10

In [6]:
a = 10 
b = 5

In [8]:
if b>a:
    # if body will only be executed when gets true
    print("BEEEEE is greater than a")
else:
    # else will only be executed when if gets false
    print("AAAAAAAAAA is greater than B ")

AAAAAAAAAA is greater than B

# ask the user for a number and tell him that the number is even or odd
   1- take input from user convert it into integer
           if a number is divisible by 2 then even other wise odd
   2- check whether the number is even or odd 
   3 - display if the number if even or odd

In [10]:
num =  int(input("Enter a number"))
if num%2==0:
    print(f"{num} is even ")
else:
    print(f"{num} is odd ")

Enter a number6
6 is even

# Operators
  - and 
  - or
  
  Multiple ifs
  Multiple Else

In [ ]:
(user or phone or email or cnic or passportno) and passwor

# Nested if's

In [15]:
num = int(input("Enter a number"))
if num%5!=0:    
    if num%7!=0:
        print("You have inputted a good number")        
    else:
        print("Your number is div by 7")
else:
    print("Your number is divisble by 5")

Enter a number35
Your number is divisble by 5

In [18]:
num = int(input("Enter a number"))
if num%5==0:
    if num%7==0:
        print("your number is div by 5 and 7")
               
    else:
        print("your number is div by 5 but not div by 7")
else:
    print("your number is div by 5")

Enter a number35
your number is div by 5 and 7

In [26]:
covid = input("Are you a covid patient")
if covid =="no":
    
    vaccine_status = input("are you fully vaccinated or not")
    
    if vaccine_status == "yes":
        
        vaccine_name = input("Pfizer, moderana, Spotnic")
        
        if (vaccine_name=='Pfizer')or(vaccine_name=='moderana')or(vaccine_name=="Spotnic"):
            print("You can travel ")
                                                                     
        else:
            print("You can not travel")
    else:
        print("You can not travel")
        
    
else:
    print("You can not travel")

Are you a covid patientno
are you fully vaccinated or notyes
Pfizer, moderana, Spotnicxyz
You can not travel

        AND (*)
  in  in     r 
True  True  True
True  False False
false True    False
False  False   False
  OR (+)
True True  True
True  False True
False True   True
False False  False

In [28]:
a=10 
b=20
c=30

if (a<b and b<c and c==40):
    # t       t        t
    print("Hello")
else:
    print("Bye")

Bye

In [31]:
if (a>b or b>c or c==40):
    # t       t        t
    print("Hello")
else:
    print("Bye")

Bye

# Multiple ifs or Elif

In [38]:
python = int(input("Enter marks in python programming"))
power_bi = int(input("Enter marks in power bi"))
excel = int(input("Enter marks in excel"))
data_analysis = int(input("Enter marks in data analysis"))
obtained_marks = python + power_bi + excel + data_analysis 
percentage = obtained_marks/400*100
grade  = None

if percentage >=90:
    grade = "A+"
elif (percentage >=80) and (percentage <90):
    grade = "A"
elif (percentage >=70) and (percentage <80):
    grade = "B+"
elif (percentage >=60) and (percentage <70):
    grade = "B"
elif (percentage >=50) and (percentage <60):
    grade = "C"
else:
    grade = "F"
print(f"""Percentage  >>>>>> {percentage} 
Grade >>>>>>>>> {grade}""")

Enter marks in python programmingabcd

ValueError: invalid literal for int() with base 10: 'abcd'

In [37]:
type(None)

NoneType

# List

In [39]:
student1  = "Malik"
student2 = "Wasim"

In [42]:
students  = ["Malik", "Wasim","Nasir", "Ali", "Ahmed"]

miscList = [100, "ICAP", 4.5, False, True]
# list can hold different type of data altogether

In [41]:
print(type(students))

<class 'list'>

In [43]:
students  = ["Malik", "Wasim","Nasir", "Ali", "Ahmed"]
#index         0         1      2        3       4

In [44]:
students[2]

'Nasir'

In [45]:
students[0]

'Malik'

In [46]:
students[19]

IndexError: list index out of range

In [47]:
#Reverse Indexing
#              -5       -4      -3      -2      -1 
students  = ["Malik", "Wasim","Nasir", "Ali", "Ahmed"]
#index         0         1      2        3       4 

print(students[3], students[-2])

Ali Ali

In [48]:
students[-1]

'Ahmed'

List isnt a data type but is a data struture

CRUD   >> create , retrieve, Update/insert, Delete

In [91]:
# Create a list
marks = [89,45,67,89,90]
len(marks)

5

In [56]:
#Update

marks[0]=100

In [57]:
marks

[100, 45, 67, 89, 90]

In [58]:
marks[2]

67

In [59]:
marks[4]

90

In [60]:
del marks[4]

In [61]:
marks

[100, 45, 67, 89]

In [62]:
marks.append("two hundred")
marks

[100, 45, 67, 89, 'two hundred']

In [63]:
marks1 = marks.copy()
# pass by value

In [65]:
marks1

[100, 45, 67, 89, 'two hundred']

In [66]:
marks2 = marks
# pass by reference

In [67]:
print(marks)
print(marks2)

[100, 45, 67, 89, 'two hundred']
[100, 45, 67, 89, 'two hundred']

In [68]:
del marks2[4]

In [69]:
marks2

[100, 45, 67, 89]

In [70]:
marks

[100, 45, 67, 89]

In [71]:
marks.count(100)

1

In [78]:
marks.append(1000000)

In [79]:
marks

[100, 45, 67, 89, 100, 1000000]

In [74]:
marks.count(100)

2

In [76]:
marks.index(100)

0

In [77]:
marks.index(100,1)

4

In [80]:
marks.insert(2,"Hello")
marks

[100, 45, 'Hello', 67, 89, 100, 1000000]

In [81]:
del marks[2]
# deletes permanenlty from memory (inplace)
# pop is used when index of the member is known to us

In [82]:
marks

[100, 45, 67, 89, 100, 1000000]

In [90]:
popped_value = marks.pop()
popped_value

IndexError: pop from empty list

In [92]:
marks

[89, 45, 67, 89, 90]

In [93]:
marks.pop(2)
# pop is used when index of the member is known to us

67

In [94]:
marks

[89, 45, 89, 90]

In [95]:
marks.remove(89)
# remove by value

In [96]:
marks

[45, 89, 90]

In [97]:
students

['Malik', 'Wasim', 'Nasir', 'Ali', 'Ahmed']

In [98]:
students.remove("Nasir")

In [99]:
students

['Malik', 'Wasim', 'Ali', 'Ahmed']

In [100]:
students.remove("Nassir")

ValueError: list.remove(x): x not in list

In [101]:
students.reverse()

In [102]:
students

['Ahmed', 'Ali', 'Wasim', 'Malik']

In [103]:
students.sort()

In [104]:
students

['Ahmed', 'Ali', 'Malik', 'Wasim']

In [105]:
marks

[45, 89, 90]

In [106]:
marks.insert(2,"D")
marks.insert(1, "G")
marks

[45, 'G', 89, 'D', 90]

In [107]:
marks.reverse()

In [108]:
marks

[90, 'D', 89, 'G', 45]

In [109]:
marks.sort()
marks

TypeError: '<' not supported between instances of 'str' and 'int'

Iterable (one by one access or travers)

In [110]:
country  = "Pakistan"
country[0]

'P'

In [111]:
country[-1]

'n'

In [114]:
num = "12345678"

In [115]:
num[0]

'1'

List is iterable

In [116]:
marks

[90, 'D', 89, 'G', 45]

In [118]:
marks1

[100, 45, 67, 89, 'two hundred']

In [119]:
marks.append(marks1)
marks

[90, 'D', 89, 'G', 45, [100, 45, 67, 89, 'two hundred']]

In [120]:
marks.extend(marks1)

In [121]:
marks

[90,
 'D',
 89,
 'G',
 45,
 [100, 45, 67, 89, 'two hundred'],
 100,
 45,
 67,
 89,
 'two hundred']

In [123]:
marks.extend('450')

In [124]:
marks

[90,
 'D',
 89,
 'G',
 45,
 [100, 45, 67, 89, 'two hundred'],
 100,
 45,
 67,
 89,
 'two hundred',
 '4',
 '5',
 '0']

In [125]:
marks + marks1

[90,
 'D',
 89,
 'G',
 45,
 [100, 45, 67, 89, 'two hundred'],
 100,
 45,
 67,
 89,
 'two hundred',
 '4',
 '5',
 '0',
 100,
 45,
 67,
 89,
 'two hundred']

In [126]:
a  = [1,2,3,4,5,6]
b = [11,22,33,44,55,66]

In [127]:
a + b

[1, 2, 3, 4, 5, 6, 11, 22, 33, 44, 55, 66]

In [128]:
a.pop()
a

[1, 2, 3, 4, 5]

In [129]:
a.pop(2)
a

[1, 2, 4, 5]

In [130]:
p = a.pop(2)
p

4

In [131]:
a

[1, 2, 5]

# List Slicing

In [132]:
b = [11,22,33,44,55,66,77,88,99,100]

In [139]:
#listname[start:end]
c = b[0:3]

# sliced actually copies that part of the list or string

In [140]:
c

[11, 22, 33]

In [141]:
b[:5]  # by default start from 0 index

[11, 22, 33, 44, 55]

In [142]:
b[3:]# by default end on last index

[44, 55, 66, 77, 88, 99, 100]

In [146]:
b[0:50]

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [147]:
# slicing travels from left to right 
# slicing will not generate error in case if you provide wrong indices
b[5:1]

[]

In [148]:
#nameoflist[start:end:step]
b

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [149]:
b[:8:1]
# step =1 copies every value

[11, 22, 33, 44, 55, 66, 77, 88]

In [150]:
b[:8:2]
# step=2 copies every other value

[11, 33, 55, 77]

In [151]:
b[::2]

[11, 33, 55, 77, 99]

In [152]:
b
#-10  -9  -8  -7 -6  -5  -4  -3 -2    -1

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [153]:
b[-8:-5]

[33, 44, 55]

In [154]:
b[3:-4]

[44, 55, 66]

In [155]:
b[6:-9]

[]

In [156]:
b[-9:6]

[22, 33, 44, 55, 66]

In [157]:
b

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [158]:
b[::-1]

[100, 99, 88, 77, 66, 55, 44, 33, 22, 11]

In [160]:
d =b[6:-9:-1]

In [161]:
d

[77, 66, 55, 44, 33]

In [162]:
b

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [163]:
b[0::1]

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [164]:
b[::1]

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [165]:
b[::-1]

[100, 99, 88, 77, 66, 55, 44, 33, 22, 11]

In [166]:
b.append(a)

In [167]:
b

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100, [1, 2, 5]]

In [168]:
b[10]

[1, 2, 5]

In [171]:
b[-1]

[1, 2, 5]

In [170]:
b[10][2]

5

In [172]:
b.append(b)

In [173]:
b

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100, [1, 2, 5], [...]]

In [174]:
newList = [22,33,"Pakistan", 55,66, ["Asad","Umer"]]

In [175]:
print(newList[0])
print(newList[1])
print(newList[2])
print(newList[3])
print(newList[4])
print(newList[5])

22
33
Pakistan
55
66
['Asad', 'Umer']

In [176]:
newList[5]

['Asad', 'Umer']

In [177]:
newList[5][0]

'Asad'

In [179]:
newList[2]

'Pakistan'