In [1]:
import pandas as pd

In [4]:
data = pd.read_excel("data.xlsx")

In [5]:
data

    Name   EmployeeID      Dept
0    Asad        1123  Accounts
1   Fahad        1234  Finanace
2  Hassan        2345        HR
3     Ali        1213  Accounts
4   Ahmed        2234        HR

In [6]:
data["Salary"]=[2,3,4,5,6]

In [8]:
data["Salary2"] = [ sal*1000 for sal in data['Salary'] ]

In [37]:
#writing data to csvfile format
data.to_csv("mydata.csv")
data.to_excel("myexcel.xlsx")

# Functions

In [10]:
# a function is a block of code, that is executed when it is required
# code reduce , repeted code ,

In [11]:
for a in range(50000):
    print(a, "Python")
# code reduce, program efficent

0 Python
1 Python
2 Python
3 Python
4 Python

In [17]:
# Declaration/Definition

print("Learning Functions")
def greet_user():
    print("Welcome!")
    for char in "Pakistan":
        print(char.upper(), end="")

# function will be invoked when it is called.

Learning Functions

In [18]:
# Call/ invoke 
greet_user()

Welcome!
PAKISTAN

In [ ]:
# Result

In [21]:
print("Hello")
print("World")
print("Python")

Hello
World
Python

In [22]:
# Everything in python is object

country_name = "Pakistan"

#functions, attributes

In [24]:
def add_two_numbers():# parameter less function
    a = 10 
    b = 20
    c = a + b
    print(c)

In [26]:
add_two_numbers()

30

In [27]:
add_two_numbers()

30

In [29]:
#Parametrized function
def add_two_nums(num1, num2):         
    result = num1 + num2
    print(f"Sum of {num1} and {num2} is {result}")

In [30]:
add_two_nums(2,3)# arguments

Sum of 2 and 3 is 5

In [31]:
add_two_nums(5,6)

Sum of 5 and 6 is 11

In [32]:
add_two_nums(23456,456777)

Sum of 23456 and 456777 is 480233

In [33]:
add_two_nums("nasir", "ali")

Sum of nasir and ali is nasirali

In [34]:
add_two_nums("100", 200)

TypeError: can only concatenate str (not "int") to str

In [35]:
add_two_nums()

TypeError: add_two_nums() missing 2 required positional arguments: 'num1' and 'num2'

In [38]:
add_two_nums(100,500)

Sum of 100 and 500 is 600

In [47]:
words ="hello how r u?".split('o')
words

['hell', ' h', 'w r u?']

In [43]:
len(words)

4

In [44]:
# write a function that counts the number of words in a sentence
def words_count(paragraph):
    words = paragraph.split(' ')
    num_of_words= len(words)
    print(f"Number of words in given paragraph are {num_of_words}")
    
#     words  = paragraph.count(" ")+1

In [45]:
words_count("write a function that counts the number of words in a sentence")

Number of words in given paragraph are 12

In [39]:
def greet_user(name):
    print(f"Welcome!{name} ")

In [40]:
greet_user("Nasir")

Welcome!Nasir

# Scope of variables
   - Global Variables
           - All variables declared outside the function
           - It can be accessed inside and outside of the function
   - Local Variables 
           - All variables declared inside the function
           - It can only be accessed inside the function

In [68]:
number = 12            # global variable
def squaring(num):
    sqr = num**2    # Sqaure is a local variable
    print(number)
    print(sqr)

In [69]:
squaring(5)

12
25

In [70]:
sqr

NameError: name 'sqr' is not defined

In [67]:
number

12

How to make a local variable, a global variable

In [77]:
def squaring(num):
    global sqr
    sqr = num**2    # Sqaure is a local variable
    print(number)
    print(sqr)

In [79]:
squaring(9)

12
81

In [80]:
sqr

81

# Default Parameters

In [90]:
def get_full_name(first_name="", last_name="", middle_name=""):
    full_name= first_name + middle_name + last_name
    
    print(full_name)

In [97]:
get_full_name("Ali", 'Saleem', "Faisal")

AliFaisalSaleem

In [92]:
get_full_name("Ali", 'Hussain')

AliHussain

In [93]:
get_full_name("nASIR")

nASIR

In [94]:
get_full_name()

In [95]:
print("get")

get

In [96]:
print()

# Keyword Arguments

In [99]:
get_full_name(middle_name="Rehman", last_name="Ali",first_name="Asad")

AsadRehmanAli

# Return

In [127]:
def add_two_nums(num1, num2):         
    
    result = num1 + num2
    return result
    
    print("hello")
    #any line after return will not be executed

In [135]:
res = add_two_nums(200,400)
res

600

In [136]:
def add_two_nums(num1, num2):         
    
    result = num1 + num2
    return result,"Pakistan"

In [144]:
res, country = add_two_nums(300,600)

In [145]:
print(res)
print(country)

900
Pakistan

In [138]:
a  = 2,3    # packing
a

(2, 3)

In [139]:
age, roll = a  # unpacking

In [142]:
age

2

In [143]:
roll

3

In [100]:
# Write a Script to calculate the net pay of an employee
# net pay  = salary + incentive - provident - tax

In [157]:
def incentive(units_sale):
    unit_price = 100
    if (units_sale > 0 and units_sale <50):
        commission  = units_sale * unit_price * .005
        
    if (units_sale >=50 and units_sale<100):
        commission  = units_sale * unit_price * .01
        
    elif (units_sale >=100 and units_sale<200):
        commission  = units_sale * unit_price * .02
        
    elif (units_sale >=200 and units_sale<500):
        commission  = units_sale * unit_price * .05
        
    else:
        commission  = units_sale * unit_price * .06
    return commission

In [158]:
def provident(basic_salary):
    provident = basic_salary * .10
    return provident

In [159]:
def tax(monthly_income):
    annual_income = monthly_income *12
    
    if (annual_income >0 and annual_income<=600000):
        tax = 0
        
    elif (annual_income >600000 and annual_income<=700000):
        taxable_income = annual_income - 600000
        tax = taxable_income * 0.05
        
    elif (annual_income >=700000 and annual_income<=1000000):
        taxable_income = annual_income - 600000
        tax = taxable_income * 0.10
    else:
        
        taxable_income = annual_income - 600000
        tax = taxable_income * 0.15
        
    return (tax)/12

In [165]:
def netpay():
    
    basic_salary=float(input("Enter employee basic salary:"))
    monthly_income=float(input("Enter employee monthly income:"))
    unit_sale=int(input("Enter employee numb sale units:"))
    
    deductions = provident(basic_salary)+ tax(monthly_income)
    incentives  = incentive(unit_sale)
    netPay = monthly_income + incentives - deductions
    
    return f"""Salary Slipt
    ===========================
    Basic Salary : {basic_salary}
    Incentives   : {incentives}
    Deductions   : {deductions}
    
    NetPay: Rs: {netPay}"""

In [166]:
incentive(230)

1150.0

In [167]:
tax(60000)

1000.0

In [168]:
tax(100000)

7500.0

In [169]:
print(netpay(50000, 60000, 3000))

TypeError: netpay() takes 0 positional arguments but 3 were given

In [170]:
print(netpay())

Enter employee basic salary:34000
Enter employee monthly income:56000
Enter employee numb sale units:200
Salary Slipt
    ===========================
    Basic Salary : 34000.0
    Incentives   : 1000.0
    Deductions   : 3700.0

    NetPay: Rs: 53300.0