# Todays Class
 - Dictionary

In [1]:
student1={} # disctionary
#dict_name = {key:value,key:value , key:value, key:value }
# Key: Can be a integer, String
# Value: integer, String, Float, Boolean, List,

In [7]:
student1['name']="Hassan"
student1['fname']="Khan"
student1['age']=30
student1["City"]='Lahore'

In [8]:
student1

{'name': 'Hassan', 'fname': 'Khan', 'age': 30, 'City': 'Lahore'}

In [4]:
student2= {"name":"Asad", 'fname':"Ali", "age":23, 'City':"Karachi"}

In [6]:
student2

{'name': 'Asad', 'fname': 'Ali', 'age': 23, 'City': 'Karachi'}

In [9]:
a = [22,33]
a[0]

22

In [10]:
student2['age']

23

In [12]:
student1['age']

30

In [14]:
student1['City']

'Lahore'

In [21]:
student1['Course']= 'Python', 'Data Analysis',"Accounts"
student1

{'name': 'Hassan',
 'fname': 'Khan',
 'age': 30,
 'City': 'Lahore',
 'Course': ('Python', 'Data Analysis', 'Accounts')}

In [17]:
a = [10,12] 
b = (12,34)  # Tuple
c = 23,45   # Tuple 
# List 
# Tuple 
# Dictionary
# set

In [18]:
a

[10, 12]

In [19]:
b

(12, 34)

In [20]:
c

(23, 45)

In [22]:
student1['Course']= "Python"
student1

{'name': 'Hassan',
 'fname': 'Khan',
 'age': 30,
 'City': 'Lahore',
 'Course': 'Python'}

In [23]:
student3={"name":"Nasir", 'fname':'Abdul', 'name':"Hussain"}
student3

{'name': 'Hussain', 'fname': 'Abdul'}

In [24]:
students= {'name':['A','B','C','D'], 'course':['Python','DA', 'Python', 'DA']}

In [25]:
students['name']

['A', 'B', 'C', 'D']

In [26]:
students['course']

['Python', 'DA', 'Python', 'DA']

In [27]:
del students['course']

In [28]:
students

{'name': ['A', 'B', 'C', 'D']}

Dictionary Iteration : How to get every key or value of the dictionary in one go

# Loops
  - anythings that repeats 
  - to do repeatedly some task , we will enclose in loop
  - Code reduce
  - Code complex 
  Types: 
   - For loop
   - While Loop

In [29]:
#task: I need to print all members of a list
nums = [22,334,44,55,66,77,88,99]
print(nums[0])
print(nums[1])
print(nums[2])
print(nums[3])
print(nums[4])
print(nums[5])
print(nums[6])
print(nums[7])

22
334
44
55
66
77
88
99

In [30]:
for num in nums:
    print(num)

22
334
44
55
66
77
88
99

In [31]:
for char in "Python":
    print(char.upper())

P
Y
T
H
O
N

In [32]:
for digit in 1000:
    print(digit)

TypeError: 'int' object is not iterable

In [33]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [34]:
for num in range(2, 10):
    print(num)

2
3
4
5
6
7
8
9

In [1]:
for num in range(2,21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [2]:
for num in range(10,1,-1):
    print(num)

# Key Words : continue , break

In [3]:
for i in range(1000):
    pass

In [39]:
for num in range(10):
    if num==4:
        continue
    print(num)

0
1
2
3
5
6
7
8
9

In [41]:
for num in range(10):
    if num==4:
        break
    print(num)
print("Hello")

0
1
2
3
Hello

In [44]:
user_names = ["Asad", "Basit", 'Nasir', "Kashif", "Hammed"]

In [4]:

user = input("Please tell me user ") #  'Abc'

for user_name in ["Asad", "Basit", 'Nasir', "Kashif", "Hammed"]:
    
    if user_name == user:
        print("Valid User")
        break

Please tell me user Basit
Valid User

In [10]:
user = input("Please tell me user ") #  'Abc'

if user in ["Asad", "Basit", 'Nasir', "Kashif", "Hammed"]:
    print("Valid User")
else:
    print("Not Valid User")

Please tell me user Qasim
Not Valid User

In [46]:
student1

{'name': 'Hassan',
 'fname': 'Khan',
 'age': 30,
 'City': 'Lahore',
 'Course': 'Python'}

In [47]:
for xyz in student1:   # by default it returns keys 
    print(xyz)

name
fname
age
City
Course

In [48]:
for xyz in student1:   # by default it returns keys    
    print(student1[xyz])

Hassan
Khan
30
Lahore
Python

In [49]:
for keys in student1.keys():#['name', 'fname', 'age', 'City', 'Course']
    print(keys)

name
fname
age
City
Course

In [50]:
for value in student1.values():#['Hassan', 'Khan', 30, 'Lahore', 'Python']
    print(value)

Hassan
Khan
30
Lahore
Python

In [63]:
for key, value in student1.items():
    print(key, value)

name Hassan
fname Khan
age 30
City Lahore
Course Python

In [52]:
student1.keys()

dict_keys(['name', 'fname', 'age', 'City', 'Course'])

In [53]:
student1.values()

dict_values(['Hassan', 'Khan', 30, 'Lahore', 'Python'])

In [55]:
student1.items()

dict_items([('name', 'Hassan'), ('fname', 'Khan'), ('age', 30), ('City', 'Lahore'), ('Course', 'Python')])

In [56]:
a,b = "Asad", "Go"

In [57]:
print(a)

Asad

In [58]:
print(b)

Go

In [59]:
a,b,c,d = [100,200,300,400]

In [60]:
print(a)
print(b)
print(c)
print(d)

100
200
300
400

# Repeat Iteration on dic

In [11]:
employee = {'name':"Nasir", 'id':1123, 'dept':'Accounts', 'City':'Karachi','name':"Qasim"}

In [12]:
employee

{'name': 'Qasim', 'id': 1123, 'dept': 'Accounts', 'City': 'Karachi'}

In [66]:
# access all keys of dictionary
#Method1:
for key in employee:
    print(key)

name
id
dept
City

In [67]:
# access all keys of dictionary
# Method2
for key in employee.keys():
    print(key)

name
id
dept
City

In [71]:
# access all values of dictionary
# Method1 using keys
for key in employee.keys():
    print(f"The key is {key} >>>>{employee[key]}")

The key is name >>>>Nasir
The key is id >>>>1123
The key is dept >>>>Accounts
The key is City >>>>Karachi

In [72]:
# access all values of dictionary
# Method1 using values()
for value in employee.values():
    print(value)

Nasir
1123
Accounts
Karachi

In [73]:
# Access keys and values all together via items()
for k,v in employee.items():
    print(k, v)

name Nasir
id 1123
dept Accounts
City Karachi

# List in a Dictionary

In [74]:
class_record = {
                 'studentNames':["Ali", "Ahmed", "Baber", "Nasir", "Qasim", "Mailk"]
               , 'course'     :['Python', 'Accounts', "DA", 'Python', "DA", 'Accounts']
               , 'age'        :[23,45,34,23,45,56]
               , 'city'       :['Karachi', 'Lahore', 'Isb', 'Quetta', 'Karachi', 'Lahore']
            }

In [83]:
import pandas
data = pandas.DataFrame(class_record)
data

  studentNames    course  age     city
0          Ali    Python   23  Karachi
1        Ahmed  Accounts   45   Lahore
2        Baber        DA   34      Isb
3        Nasir    Python   23   Quetta
4        Qasim        DA   45  Karachi
5        Mailk  Accounts   56   Lahore

In [75]:
class_record

{'studentNames': ['Ali', 'Ahmed', 'Baber', 'Nasir', 'Qasim', 'Mailk'],
 'course': ['Python', 'Accounts', 'DA', 'Python', 'DA', 'Accounts'],
 'age': [23, 45, 34, 23, 45, 56],
 'city': ['Karachi', 'Lahore', 'Isb', 'Quetta', 'Karachi', 'Lahore']}

In [76]:
class_record['studentNames']

['Ali', 'Ahmed', 'Baber', 'Nasir', 'Qasim', 'Mailk']

In [77]:
class_record['age']

[23, 45, 34, 23, 45, 56]

In [78]:
class_record['studentNames'][4]

'Qasim'

In [79]:
class_record['studentNames'][4][0]

'Q'

In [81]:
class_record['studentNames'][2:4]

['Baber', 'Nasir']

In [85]:
for key in class_record.keys():
    if key=="studentNames":
        for student in class_record[key]:
            print(f"Welcome Mr. {student}")

Welcome Mr. Ali
Welcome Mr. Ahmed
Welcome Mr. Baber
Welcome Mr. Nasir
Welcome Mr. Qasim
Welcome Mr. Mailk

In [87]:
for student in class_record['studentNames']:
    print(f"Welcome Mr. {student}")

Welcome Mr. Ali
Welcome Mr. Ahmed
Welcome Mr. Baber
Welcome Mr. Nasir
Welcome Mr. Qasim
Welcome Mr. Mailk

# Use of Keyword  "in"

 - on List

In [88]:
user_names = ["Asad", "Basit", 'Nasir', "Kashif", "Hammed"]
user = input("Please tell me user ") #  'Abc'

for user_name in user_names:
    
    if user_name == user:
        print("Valid User")
        break

Please tell me user Hammed
Valid User

In [91]:
user = input("Please tell me user ")
if user in user_names:
    print("Valid User")
else:
    print("Invalid User")

Please tell me user Ahmed Ali
Invalid User

In [93]:
"asad" in ["Asad", "Basit", 'Nasir', "Kashif", "Hammed"]

False

# Use of Keyword  "in"

 - on Dictinary

In [95]:
# it will search for the key 

class_record

{'studentNames': ['Ali', 'Ahmed', 'Baber', 'Nasir', 'Qasim', 'Mailk'],
 'course': ['Python', 'Accounts', 'DA', 'Python', 'DA', 'Accounts'],
 'age': [23, 45, 34, 23, 45, 56],
 'city': ['Karachi', 'Lahore', 'Isb', 'Quetta', 'Karachi', 'Lahore']}

In [97]:
'studentNames' in class_record

True

In [98]:
'age' in class_record

True

In [100]:
"Pak" in "Pakistan"

True

In [101]:
"pak" in "Pakistan"

False

In [ ]:
for num in [1,2,3,4]:

In [ ]:
"a"  in "Asad"

When one elements of programming behaves different in different scenarios then element is called as overloaded

In [102]:
2 + 3 

# + behave like addition operator

5

In [103]:
"nasir" + "hussain"

# + bhehaves like a concatenation operator

'nasirhussain'

+ operator  is overloaded  operator overloading

# File two

In [1]:
#           0         1     2   3
student = ['Qasim','Aslam',20,"DA"]
student

['Qasim', 'Aslam', 20, 'DA']

In [2]:
# replace index with key
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
student

{'name': 'Qasim', 'father_name': 'Aslam', 'age': 50, 'course': 'DA'}

In [4]:
keys = ['id','name','course']
values = [1,'Qasim',"DA"]

dict.fromkeys(keys, values)

{'id': [1, 'Qasim', 'DA'],
 'name': [1, 'Qasim', 'DA'],
 'course': [1, 'Qasim', 'DA']}

# dictionary defualt functions

In [5]:
dir(student)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [6]:
keys = ['id','name','course','timing']

dict.fromkeys(keys)

{'id': None, 'name': None, 'course': None, 'timing': None}

In [7]:
keys = ['id','name','course','timing']

student1 ={}
for k in keys:
    student1[k] = None
student1

{'id': None, 'name': None, 'course': None, 'timing': None}

In [8]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
student

{'name': 'Qasim', 'father_name': 'Aslam', 'age': 50, 'course': 'DA'}

In [9]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
student['name']

'Qasim'

In [10]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
student['salary']

KeyError: 'salary'

In [11]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
student.get("salary")

In [12]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
student.get("salary", "not availabe")

'not availabe'

In [13]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
del student['name']
student

{'father_name': 'Aslam', 'age': 50, 'course': 'DA'}

In [14]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}
del student['name']
print(abc)
student

NameError: name 'abc' is not defined

In [15]:
student = {
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 50,
    "course":"DA"
}


abc = student.pop('name') # require key
print(abc)
student

Qasim

{'father_name': 'Aslam', 'age': 50, 'course': 'DA'}

In [16]:
todo_list = ['a','b','c','d','e']
completed_tasks = []

for task in todo_list:
    completed_tasks.append(todo_list.pop())
    if task == 'c':
        break
        
print("Todo Task",todo_list)        
print("Completed Task",completed_tasks)

Todo Task ['a', 'b']
Completed Task ['e', 'd', 'c']