Topics:
1. List and list function
2. if else elif
3. loop

In [2]:
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1

print(type(names))

<class 'list'>

In [3]:
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1
names[2]

'Imran'

In [4]:
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1
print(names[0]) # positive
print(names[-4]) # negative

Qasim
Qasim

In [6]:
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1

names[2] = "Ajlal" # change index two item 

names

['Qasim', 'Nasir', 'Ajlal', 'Arsalan']

In [9]:
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1
#Slicing
# start (include)
# end (exclude) -1
# step sequance
# run from left to right (defualt)
# list[start:end:step]
print(names[0:2])#positive
print(names[-4:-2])#negative
print(names[::]) # add all defual value for slicing
print(names[1:]) # add all defual value for slicing

['Qasim', 'Nasir']
['Qasim', 'Nasir']
['Qasim', 'Nasir', 'Imran', 'Arsalan']

In [14]:
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1
print(names[1:]) # add all defual value for slicing
print(names[-3:]) # add all defual value for slicing
print(names[-4:-1]) # add all defual value for slicing
print(names[-4:0]) # add all defual value for slicing
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1
print(names[1:]) # add all defual value for slicing
print(names[-3:]) # add all defual value for slicing
print(names[-4:-1]) # add all defual value for slicing
print(names[-4:0]) # add all defual value for slicing

print(names[:2]) # add all defual value for slicing

['Nasir', 'Imran', 'Arsalan']
['Nasir', 'Imran', 'Arsalan']
['Qasim', 'Nasir', 'Imran']
[]
['Nasir', 'Imran', 'Arsalan']
['Nasir', 'Imran', 'Arsalan']
['Qasim', 'Nasir', 'Imran']
[]
['Qasim', 'Nasir']

In [17]:
print(names[-4:0]) # add all defual value for slicing
#index      0      1        2        3
names = ['Qasim',"Nasir","Imran","Arsalan"]
#index      -4    -3        -2        -1
print(names[::1])
print(names[::-1])
print(names[::2])

[]
['Qasim', 'Nasir', 'Imran', 'Arsalan']
['Arsalan', 'Imran', 'Nasir', 'Qasim']
['Qasim', 'Imran']

In [19]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
list(range(7,71,7))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [21]:
print(type(names))

<class 'list'>

In [22]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
names.append("Noman")
print(names)

['Qasim', 'Nasir', 'Imran', 'Arsalan', 'Noman']

In [24]:
names.clear()
names

[]

In [25]:
names = ['Qasim',"Nasir","Imran","Arsalan"]
names1 = names

names1[0] = "Asif"
print(names)
print(names1)

['Asif', 'Nasir', 'Imran', 'Arsalan']
['Asif', 'Nasir', 'Imran', 'Arsalan']

In [26]:
names = ['Qasim',"Nasir","Imran","Arsalan"]
names1 = names.copy()

names1[0] = "Asif"
print(names)
print(names1)

['Qasim', 'Nasir', 'Imran', 'Arsalan']
['Asif', 'Nasir', 'Imran', 'Arsalan']

In [27]:
names = ['Qasim',"Nasir","Imran","Arsalan"]
names1 = names[::]

names1[0] = "Asif"
print(names)
print(names1)

['Qasim', 'Nasir', 'Imran', 'Arsalan']
['Asif', 'Nasir', 'Imran', 'Arsalan']

In [28]:
names.count("Qasim")

1

In [30]:
names.count('qasim')

0

In [32]:
l1 = ['Qasim',"Nasir"]
l2 = ['Noman',"Naveed"]

l1.extend(l2)
print(l1)

['Qasim', 'Nasir', 'Noman', 'Naveed']

In [33]:
l1 = ['Qasim',"Nasir"]
l2 = ['Noman',"Naveed"]

l1.append(l2)
print(l1)

['Qasim', 'Nasir', ['Noman', 'Naveed']]

In [39]:
l1 = ['Qasim',"Nasir"]
l2 = ['Noman',"Naveed"]

l1.append(l2)
print(l1)
print(l1[-1])
print(l1[-1][0])

['Qasim', 'Nasir', ['Noman', 'Naveed']]
['Noman', 'Naveed']
Noman

# Insert

In [41]:
names = ['Qasim',"Nasir","Imran","Arsalan"]
names.insert(1,"Noman") # insert value on perticular index
names

['Qasim', 'Noman', 'Nasir', 'Imran', 'Arsalan']

In [43]:
names = ['Qasim',"Nasir","Imran","Arsalan"]
names.index('Imran')

2

In [45]:
name_input = input("Enter your Name")
names = ['Qasim',"Nasir","Imran","Arsalan"]
names.index(name_input)

Enter your NameImran

2

In [46]:
name_input = input("Enter your Name")
names = ['Qasim',"Nasir","Imran","Arsalan"]
names[names.index(name_input)]

Enter your NameImran

'Imran'

In [47]:
print(str(int('7')))

7

In [ ]:
# Create Guest list
# name is not exist in list

In [75]:
guests = []

In [76]:
guest_name = input("Enter guest name")
if guest_name in guests:
    print("Already added")
else:
    guests.append(guest_name)
print(guests)

Enter guest namehassan
['hassan']

In [60]:
guests

['Mr. Ali', 'Mr. AHmed']

In [61]:
del guests[1]

In [62]:
guests

['Mr. Ali']

In [63]:
alist = [11,22,33,"Nasir", False, [99,88,66]]

In [64]:
alist[3]

'Nasir'

In [65]:
newList = ["NASir","ASad", 'ALi',"kashan"]

In [66]:
for guest in newList:
    print(f"Welcome Mr. {guest}")

Welcome Mr. NASir
Welcome Mr. ASad
Welcome Mr. ALi
Welcome Mr. kashan

In [67]:
new_salaries = []
current_salaries = [50000, 40000,60000,90000]
for salary in current_salaries:
    new_sal = salary+salary*.1
    new_salaries.append(new_sal)

print(current_salaries)
print(new_salaries)

[50000, 40000, 60000, 90000]
[55000.0, 44000.0, 66000.0, 99000.0]

In [70]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [72]:
for a in range(100):
    if a==10:
        break
    print(a)

0
1
2
3
4
5
6
7
8
9

In [74]:
for a in range(10):
    if a==4:
        continue
    print(a)

0
1
2
3
5
6
7
8
9

In [80]:
guests = []

In [81]:

for a in range(10):
    guest_name = input("Enter guest name")
    if guest_name in guests:
        print("Already added")
    else:
        guests.append(guest_name)
print(guests)

Enter guest namea
['a']
Enter guest names
['a', 's']
Enter guest namec
['a', 's', 'c']
Enter guest named
['a', 's', 'c', 'd']
Enter guest namee
['a', 's', 'c', 'd', 'e']
Enter guest namef
['a', 's', 'c', 'd', 'e', 'f']
Enter guest nameg
['a', 's', 'c', 'd', 'e', 'f', 'g']
Enter guest nameg
Already added
['a', 's', 'c', 'd', 'e', 'f', 'g']
Enter guest namet
['a', 's', 'c', 'd', 'e', 'f', 'g', 't']
Enter guest nameh
['a', 's', 'c', 'd', 'e', 'f', 'g', 't', 'h']

In [82]:
guests=[]
counter = 0
while counter<5:
    guest_name = input("Enter guest name")
    if guest_name in guests:
        print("Already added")
    else:
        guests.append(guest_name)
    counter +=1

print(guests)

Enter guest nameasad
Enter guest namefahad
Enter guest namenoman
Enter guest namenasir
Enter guest nameqasim
['asad', 'fahad', 'noman', 'nasir', 'qasim']