# Functions

# A function is a block of code, executed when it is needed. 
# It reduces number of lines in code.
# It provides a readable interface of the program

In [22]:
# Declaration
a= 100
def add_two_nums():
    #local variables
    global global_var
    global_var = 500
    a=19
    b=20
    res = a+b
    print(res)
    
# its a parameter less function
# a,b, res are local variables, can not be accessed
# outside function
# we can make a global variable in side function 
# by explicitly declaring it as global

In [23]:
# Call

add_two_nums()

39

In [3]:
# Result

In [8]:
add_two_nums()

39

In [9]:
add_two_nums()

39

In [10]:
add_two_nums()

39

In [13]:
print(a)

100

In [20]:
add_two_nums()

39

In [15]:
print(a)

100

In [21]:
global_var

500

In [25]:
# parameterized function
def add_two_nums(num1,num2):
    """
    This function is made by me on 12 feb
    This function take two number and prints the sum
    
    """
    res = num1 + num2
    print(f"The sum of {num1} and {num2} is {res}")

In [27]:
add_two_nums(20,45)

The sum of 20 and 45 is 65

In [28]:
add_two_nums(6,7)

The sum of 6 and 7 is 13

In [29]:
add_two_nums(4,4)

The sum of 4 and 4 is 8

In [33]:
def word_counts(paragraph):
    word_count =paragraph.count(" ")+1
    
    print(f"There are {word_count} words in sentence: {paragraph}")

In [32]:
word_counts("Hello my name is Nasir Hussain")

There are 6 words in sentence: Hello my name is Nasir Hussain

In [34]:
word_counts("Hello World")

There are 2 words in sentence: Hello World

In [42]:
def word_counts(paragraph):# parameter
    word_count =paragraph.count(" ")+1 
    return word_count,"Hello"

In [45]:
counts,string = word_counts("as sd fg gh")
                             # arguments

In [46]:
counts

4

In [47]:
string

'Hello'

In [48]:
#KeyWord Argument

In [59]:
def tax_calculator(annual_income):
    if annual_income <=600000:
        taxable_income = annual_income-600000
        tax = 0
    elif (annual_income>600000) and (annual_income<=700000):
        taxable_income = annual_income-600000
        tax =5
        
        
    elif (annual_income>700000) and (annual_income<=1000000):
        taxable_income = annual_income-700000
        tax  = 10
    return (taxable_income*tax/100)/12

In [60]:
tax_calculator(500000)

0.0

In [61]:
tax_calculator(750000)

416.6666666666667

In [62]:
tax_calculator(650000)

208.33333333333334

In [63]:
def netSalary(gross):
    annual_income = gross *12
    
    netSalary = gross-tax_calculator(annual_income)
    return netSalary

In [64]:
netSalary(75000)

73333.33333333333

In [70]:
%run salary.py

Module Starts here..............
module ended here......

In [67]:
import salary

Module Starts here..............
module ended here......

In [72]:
salary.netSalary(80000)

77833.33333333333

In [74]:
import math

In [75]:
math.sin(2)

0.9092974268256817

In [76]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']